# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

#backend
backend/node_modules

#blockchain
blockchain/lib
blockchain/broadcast/*

#others
others/*